@charset "UTF-8";
$color_blue: #263C8F;
$color_green: #27AE60;
$primary_color_2: #F2994A;
$primary_btn_hover_color: #ffa656;
$btn_green_hover_color: #26c168;
html{
  height: 100%;
}

body.new-design {
  font-family: $font_montserrat;
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
  .container-fluid {
    font-family: $font_montserrat;
  }
  .fixed-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid #f5f5f5;
  }
  .panel-content {
    padding: 40px 0;
  }

  @import "navigation";
  @import "leftNavigation";

  .dashboard-content {
    max-width: 925px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    @include width-medium {
      max-width: 892px;
      padding-left: 80px;
    }
    .page-title {
      font-size: 26px;
      font-weight: bold;
      color: $color_blue;
      text-align: center;
      margin-bottom: 25px;
      @include width-x-small {
        font-size: 20px;
      }
    }
    @import "mainNavigation";
  }
  @import "dotColor";
  .color-blue {
    color: $color_blue;
  }
  .color-green {
    color: $color_green;
  }
  .color-orange {
    color: $primary_color_2;
  }

  @import "panelList";
  @import "learningProgressStatus";

  .label-border {
    margin: 0;
    padding: 0;
    li {
      margin: 0 15px 0 0;
      padding: 4px 15px;
      display: inline-block;
      list-style: none;
      border-radius: 10px;
      font-size: 14px;
      @include width-x-small {
        padding: 1px 15px;
      }
    }
    .green {
      border: 2px solid $color_green;
    }
  }

  .p {
    font-size: 15px;
  }

  @import "button";
  @import "dialog";
  @import "scheduleGrid";
  @import "tabsBar";
  @import "classroom";
  &.classroom {
    padding: 0;
    background: url("../images/tileable_wood_texture.png");
  }
}

