<script>
    var $ = jQuery.noConflict();
    var fileManager = {
        URL:{
            fileUploadService: '{{ route_url('Schola::file-browser-action') }}',
            languagePath: '/wp-content/plugins/schola/resources/languages'
        },
        data:{
            currentFolder: ''
        },
        init: function(){
            var base = this;
            $('#btnSwichFolder').on('click', function(){
                base.swichFolder(this);
            });
            $('#btnCreateFolder').on('click', function(){
                base.createFolder();
            });

            $('#btnChooseFile').on('click', function(){
                $('#tmpUploadFile').click();
            });

            $('#fileManagementsPanel').on('click', '.btnDeleteFileOrFolder', function(){
                var confirmDel = confirm('Are you sure ?');
                if(confirmDel){
                    base.deleteFile(this);
                }
            });
            
        },
        deleteFile: function(target){
            var base = this;
            var path = $(target).data('path');
            $.ajax({
                type: 'POST',
                url: base.URL.fileUploadService,
                data: {action:11, dirPath:base.data.currentFolder, deleteFile:path},
                success: function (data) {
                    $('#fileManagementsPanel').html(data);
                }
            });
        },
        browseFolder: function(path){
            this.data.currentFolder = path;
            var base = this;
            $.ajax({
                type: 'POST',
                url: base.URL.fileUploadService,
                data: {action:8, dirPath:path},
                success: function (data) {
                    $('#fileManagementsPanel').html(data);
                }
            });
        },
        swichFolder: function(target){
            var type = $(target).data('type');
            var base = this;
            if(type === 'lang'){
                base.browseFolder(base.URL.languagePath);
                $(target).data('type', 'lesson');
            }else{
                base.browseFolder('');
                $(target).data('type', 'lang');
            }
        },
        createFolder: function(){
            var base = this;
            var folderName = prompt('Enter folder name');
            if(folderName === ''){
                return;
            }
            $.ajax({
                type: 'POST',
                url: base.URL.fileUploadService,
                data: {action:9, dirPath:base.data.currentFolder, folderName:folderName},
                success: function (data) {
                    $('#fileManagementsPanel').html(data);
                }
            });
        },
        uploadEvent: function (evt){
			var files = evt.target.files;
			if(files.length !== 0 && window.FormData !== undefined){
				var data = new FormData();
				data.append('filesize',files.length);
				data.append('filetype',1);
                data.append('dirPath',fileManager.data.currentFolder);
				data.append('action',10);
                data.append('moveFile', '1');
				for(var i = 0; i < files.length; i++){
					data.append('document'+i,files[i]);
				}
				$.ajax({
					type: 'POST',
					url: fileManager.URL.fileUploadService,
					data: data,
					contentType: false,
					processData: false,   
					success: function (data) {
                        $('#fileManagementsPanel').html(data);
                        $('#tmpUploadFile').val('');
                    }
                });
            }
        }
    };
</script>
<div style='margin-bottom:5px'>
<!--   
    <input
        id="btnSwichFolder"
        class="btn btn-primary" 
        type='button' 
        data-type='lang'
        value="Switch">
    </input>
-->
    <input
        id="btnCreateFolder"
        class="btn btn-primary" 
        type='button' 
        value="MKDIR">
    </input>
    <input
        id="btnChooseFile"
        class="btn btn-primary" 
        type='button' 
        value="Choose File">
    </input>
    <input name="document[]" onchange="fileManager.uploadEvent(event);" id="tmpUploadFile" type="file" multiple style="display: none">
</div>
<div id="fileManagementsPanel">
    {%include "@Schola/admin/components/listDocuments.twig"%}
</div>
<script>
    fileManager.init();
</script>