<script>
    var $ = jQuery.noConflict();
    var teacherView = {
        URL: {
            filter: '{{ route_url('Schola::filterRegisterTrialClass') }}',
            changeStatus: '{{ route_url('Schola::changeStatusRegisterTrialClass') }}'
        },
        init: function () {
            var base = this;
            $('#listRegisterTrailClass').on('click', '.action', function () {
                var id = $(this).data('id');
                var status = $(this).data('status');
                base.changeStatus(id, status);
            });

            $('input[name="filter"]').change(function () {
                var statusFilter = $(this).val();
                base.filter(statusFilter);
            });
        },
        filter: function (statusFilter) {
            var base = this;
            if (statusFilter) {
                $.ajax({
                    type: 'POST',
                    url: base.URL.filter,
                    data: {'status': statusFilter},
                    success: function (data) {
                        $('#listRegisterTrailClass').html(data);
                    }
                });
            }
        },
        changeStatus: function (id, status) {
            var base = this;
            if (id && status) {
                $.ajax({
                    type: 'POST',
                    url: base.URL.changeStatus,
                    data: {'id': id, 'status': status},
                    success: function (data) {
                        var res = JSON.parse(data);
                        if (res.status === 'success') {
                            var tr = $('.reg-' + id);
                            var htmlStatus = '';
                            if (status === 1) {
                                htmlStatus = '<span class="label label-success">Called success</span>';
                            } else {
                                htmlStatus = '<span class="label label-danger">Called fail</span>';
                            }
                            var statusCol = $(tr).find('.status');
                            statusCol.html(htmlStatus);
                        }
                    }
                });
            }
        }
    };
    $(document).ready(function () {
        teacherView.init();
    });
</script>
<div class="wrap">
    <form id="posts-filter">
        <div class="form-group unit_name-control">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" class="filter" name="filter" id="option1" value="-1" autocomplete="off" checked> All
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option2" value="0" autocomplete="off"> New
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option3" value="1" autocomplete="off"> Called success
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option4" value="2" autocomplete="off"> Called fail
                </label>
            </div>
        </div>
        <div id="listRegisterTrailClass">
            {% include "@Schola/admin/listRegisterTrialClass.twig" %}
        </div>
    </form>
    <div id="ajax-response"></div>
    <br class="clear">
</div>