 <script>   
    var $ = jQuery.noConflict();
    var student = {
        URL:{
            studentMntAction :''
        },
        init: function(URL){
            this.URL = URL;
            var base = this;
            $('#pnlListStudent').on('click','.editProfile', function(){
                base.edit(this);
            });
            $('#pnlListStudent').on('click','.saveProfile', function(){
                base.save(this);
            });

            $('#searchStudentBtn').on('click', function(){
                base.search();
            });
        },
        search: function(){
            var keyWord = $('#searchStudentKeyword').val();
            var base = this;
            $.ajax({
                type:"POST",
                async:false,
                url:base.URL.studentMntAction,
                data:{searchText:keyWord, action:3},
                success: function(data){
                    $('#pnlListStudent').html(data);
                }
            });
        },
        edit: function(target){
            var profileId = $(target).data('profile-id');
            this.load(profileId);
        },
        save: function(target){
            var base = this;
            var profileId = $(target).data('profile-id');
            var level = $('#studentLevel' + profileId).val();
            var remain = $('#remainingClass' + profileId).val();
            var remainExpert = $('#remainingExpertClass' + profileId).val();
            var remainGroup = $('#remainingGroupClass' + profileId).val();
            var startingLesson = $('#startingLesson' + profileId).val();
            var nextLesson = $('#nextLesson' + profileId).val();
            var startingLessonTitle = $('#startingLesson' + profileId+' option:selected').text();
            var nextLessonTitle = $('#nextLesson' + profileId +' option:selected').text();
            if($.trim(remain) === ''){
                remain = '0';
            }
            if($.trim(remainExpert) === ''){
                remainExpert = '0';
            }
            if($.trim(remainGroup) === ''){
                remainGroup = '0';
            }                        
            $.ajax({
                type:"POST",
                url: base.URL.studentMntAction,
                data:{action:2, profileId:profileId, level:level, remain:remain, remainExpert:remainExpert, remainGroup:remainGroup,startingLesson:startingLesson,nextLesson:nextLesson},
                async: false,
                success: function(data){
                    $($($('#studentLevel' + profileId).parent()).find('span')[0]).html(level);
                    $($($('#remainingClass' + profileId).parent()).find('.native_remain')[0]).html(remain);
                    $($($('#remainingExpertClass' + profileId).parent()).find('.expert_remain')[0]).html(remainExpert);
                    $($($('#remainingGroupClass' + profileId).parent()).find('.group_remain')[0]).html(remainGroup);
                    $($($('#startingLesson' + profileId).parent()).find('.starting')[0]).html(startingLessonTitle);
                    $($($('#nextLesson' + profileId).parent()).find('.next')[0]).html(nextLessonTitle);
                    $('.toogle-edit-' + profileId).toggle();
                }
            });
        },
        load: function(profileId){
            var re = false;
            var base = this;
            $.ajax({
                type:"POST",
                url: base.URL.studentMntAction,
                data:{action:1, profileId:profileId},
                async: false,
                success: function(data){
                    var json    = JSON.parse(data);
                    var level   = json.level;
                    var remain  = json.remain
                    var remainExpert  = json.remainExpert
                    var remainGroup  = json.remainGroup
                    $('#studentLevel' + profileId).val(parseInt(level));
                    $('#remainingClass' + profileId).val(parseInt(remain));
                    $('#remainingExpertClass' + profileId).val(parseInt(remainExpert));
                    $('#remainingGroupClass' + profileId).val(parseInt(remainGroup));

                    var $select = $('#startingLesson'+profileId); 
                    $select.find('option').remove();  
                    $.each(json.lesson,function(key, value) 
                    {
                        status = 'false';
                        var selected = "";
                        if(key == json.startingLesson){
                            selected = "selected='selected'";
                        }
                        $.each(json.scheduleStatus,function(key1, value1) 
                        {
                            if(key == key1){
                                status = ' - '+value1;
                            }
                        });
                        if(status != 'false'){
                            $select.append('<option value=' + key + ' '+selected+'>' + json.lessonKey[key] + ' - ' + value + ''+ status+ '</option>');
                        }else{
                            $select.append('<option value=' + key + ' '+selected+'>' + json.lessonKey[key] + ' - ' + value + '</option>');
                        }
                    });

                    var $select = $('#nextLesson'+profileId); 
                    $select.find('option').remove();  
                    $.each(json.lesson,function(key, value) 
                    {
                        status = 'false';
                        var selected = "";
                        if(key == json.nextLesson){
                            selected = "selected='selected'";
                        }
                        $.each(json.scheduleStatus,function(key1, value1) 
                        {
                            if(key == key1){
                                status = ' - '+value1;
                            }
                        });
                        if(status != 'false'){
                            $select.append('<option value=' + key + ' '+selected+'>' + json.lessonKey[key] + ' - ' + value + ''+ status+ '</option>');
                        }else{
                            $select.append('<option value=' + key + ' '+selected+'>' + json.lessonKey[key] + ' - ' + value + '</option>');
                        }
                    });

                    $('.toogle-edit-' + profileId).toggle();
                    re = true;
                }
            });
            return re;
        }
    };

    function validateNumber(event) {
        var key = window.event ? event.keyCode : event.which;    
        if ( key < 48 || key > 57 ) {
            return false;
        }
        else return true;
    };

    function numberVaild(e){
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        return $.isNumeric(text);
    }
    
    var URL = {
        studentMntAction: '{{ route_url('Schola::student-management-action') }}'
    };
   
    $(document).ready(function () {
        student.init(URL);
        $('.numberOnly').keypress(validateNumber);
        $('.numberOnly').on('paste',numberVaild);
    });
 </script>
 <style type="text/css">
     .starting-class{
        width: 240px;
     }
     .starting-class option{
        width: 240px;
     }
 </style>
<div class="row">
    <div class="col-lg-4" style="padding-bottom:5px">
        <input class="form-control" id="searchStudentKeyword" name="searchStudentKeyword" placeholder="Key word">
    </div>
    <div class="col-lg-2">
        <input
            id="searchStudentBtn"
            class="btn btn-primary toogle-edit-{{student.profile_id}}" 
            type='button' 
            value="Search">
        </input>
    </div>
</div>
 <div id="pnlListStudent">
    {%include "@Schola/admin/components/studentList.twig"%}
 </div>