{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/layoutDashboard.twig" %}

{% block title %}{{ lang.schedule }}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function () {
            $('#tabGroupClass').scholaTab();
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        {% include "@Schola/public/mockup/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content">
                <div class="dashboard-content">
                    <div>
                        {% include "@Schola/public/mockup/leftNavigation.twig" %}
                    </div>
                    <div class="clearfix">
                        <div class="page-title">Select available group <span class="color-orange">class</span></div>

                        <div id="tabGroupClass" class="tabs-panel">
                            <ul class="tabs-bar two-tab">
                                <li class="tab active">
                                    <div class="title">Upcoming</div>
                                </li>
                                <li class="tab">
                                    <div class="title">Reserved</div>
                                </li>
                            </ul>

                            <div class="tabs-content">
                                <div data-tab-index="0" class="panel-list mb30 tab-item tab-1">
                                    <div class="title-list hidden-xs">Reserved</div>
                                    <div class="practice-item">
                                        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                                            <div class="title">Lesson Title <span class="label-status">Confirmed</span></div>
                                            <div class="time mb5">23/2/18 from 18:30 - 19:00</div>
                                            <ul class="label-border">
                                                <li class="green">Level 1</li>
                                                <li class="green">Level 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
                                            <div class="mt25">
                                                <a href="#" class="btn btn-icon hidden-xs"><i class="material-icons">date_range</i></a>
                                                <a onclick="$('#dialogDemo').modal('show');" class="btn btn-primary-2 btn-green-xs">Enter Class</a>
                                                <a href="#" class="btn btn-icon btn-close"><i class="material-icons">highlight_off</i><span class="label-xs">Cancel</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="practice-item">
                                        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                                            <div class="title">Lesson Title <span class="label-status">Confirmed</span></div>
                                            <div class="time mb5">23/2/18 from 18:30 - 19:00</div>
                                            <ul class="label-border">
                                                <li class="green">Level 1</li>
                                                <li class="green">Level 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
                                            <div class="mt25">
                                                <a href="#" class="btn btn-icon hidden-xs"><i class="material-icons">date_range</i></a>
                                                <a onclick="$('#dialogDemo').modal('show');" class="btn btn-primary-2 btn-green-xs">Enter Class</a>
                                                <a href="#" class="btn btn-icon btn-close"><i class="material-icons">highlight_off</i><span class="label-xs">Cancel</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-tab-index="1" class="panel-list tab-item tab-0 mb30 active">
                                    <div class="title-list hidden-xs">Upcoming</div>
                                    <div class="practice-item">
                                        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                                            <div class="title">Lesson Title</div>
                                            <div class="time mb5">23/2/18 from 18:30 - 19:00</div>
                                            <ul class="label-border">
                                                <li class="green">Level 1</li>
                                                <li class="green">Level 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
                                            <div class="mt25">
                                                <a href="#" class="btn btn-primary-2 btn-border btn-primary-2-xs ml50 ml0-xs">Reserve a seat</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="practice-item">
                                        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                                            <div class="title">Lesson Title</div>
                                            <div class="time mb5">23/2/18 from 18:30 - 19:00</div>
                                            <ul class="label-border">
                                                <li class="green">Level 1</li>
                                                <li class="green">Level 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
                                            <div class="mt25">
                                                <a href="#" class="btn btn-primary-2 btn-border btn-primary-2-xs ml50 ml0-xs">Reserve a seat</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="practice-item">
                                        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                                            <div class="title">Lesson Title</div>
                                            <div class="time mb5">23/2/18 from 18:30 - 19:00</div>
                                            <ul class="label-border">
                                                <li class="green">Level 1</li>
                                                <li class="green">Level 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
                                            <div class="mt25">
                                                <a href="#" class="btn btn-primary-2 btn-primary-2-xs disable ml50 ml0-xs" disabled="disabled">Reserve a seat</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="dot-color">
                    <div class="dot-1"></div>
                    <div class="dot-2"></div>
                    <div class="dot-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialogDemo" class="modal fade custom-dialog no-header" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="icon material-icons">close</span></button>
                    {#<h4 class="modal-title">Purchase</h4>#}
                </div>
                <div class="modal-body">
                    <div class="text-center color-blue">Class timing</div>
                    <div class="text-center color-orange bold font-size-18 mt20">09:00 - 09:30</div>
                    <div class="text-center color-blue bold font-size-18">Wed - 07/02/2018</div>
                    <div class="text-center color-blue mt20">Class timing</div>
                    <div class="text-center color-orange bold font-size-18 mt20">Lesson title</div>
                    <div class="text-center color-blue bold mt20">Bookings balance : <span class="color-orange font-size-18">1</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-2 btn-no-bg" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary-2 ">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}