{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/layoutDashboard.twig" %}

{% block title %}{{ lang.schedule }}{% endblock %}

{% block head %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <div>
        {% include "@Schola/public/mockup/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content">
                <div class="dashboard-content">
                    <div>
                        {% include "@Schola/public/mockup/leftNavigation.twig" %}
                    </div>
                    <div class="clearfix">
                        <div class="page-title">Choose your class <span class="color-orange">type</span></div>
                        <div class="panel-list">
                            <div class="title-list">Practice and Review List</div>
                            <div class="practice-item">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="title">Practice Material title</div>
                                    <ul class="label-border">
                                        <li class="green">Level 1</li>
                                        <li class="green">Unit 1</li>
                                    </ul>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <button type="button" class="btn btn-primary-2 mt15">Start practice</button>
                                </div>
                            </div>
                            <div class="practice-item">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="title">Practice Material title</div>
                                    <ul class="label-border">
                                        <li class="green">Level 1</li>
                                        <li class="green">Unit 1</li>
                                    </ul>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <a href="#" class="btn btn-primary-2 mt15">Start practice</a>
                                </div>
                            </div>
                            <div class="practice-item">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="title">Practice Material title</div>
                                    <ul class="label-border">
                                        <li class="green">Level 1</li>
                                        <li class="green">Unit 1</li>
                                    </ul>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <a href="#" class="btn btn-primary-2 mt15">Start practice</a>
                                </div>
                            </div>
                            <div class="practice-item">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="title">Practice Material title</div>
                                    <ul class="label-border">
                                        <li class="green">Level 1</li>
                                        <li class="green">Unit 1</li>
                                    </ul>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <a href="#" class="btn btn-primary-2 mt15">Start practice</a>
                                </div>
                            </div>
                            <div class="practice-item">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="title">Practice Material title</div>
                                    <ul class="label-border">
                                        <li class="green">Level 1</li>
                                        <li class="green">Unit 1</li>
                                    </ul>
                                    <div class="check-finish"><span class="fa fa-check"></span></div>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <a href="#" class="btn btn-primary-2 mt15">Start practice</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dot-color">
                    <div class="dot-1"></div>
                    <div class="dot-2"></div>
                    <div class="dot-3"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}