#wpwrap {
    background-color: #f1f1f1;
}

.schola-admin-container {
    padding: 15px;
}

.email-template-panel-wrapper {
    margin: 0;
}

.email-template-panel {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
}

.email-template-panel textarea {
    resize: none;
}

.email-template-name {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}