<link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/datetimepicker/jquery.datetimepicker.min.css' ) }}" media="screen"/>
<script>
    var $ = jQuery.noConflict();
    var groupClasses = {
        URL: {
            groupClassAction: '',
            dateTimePickerPath: ''
        },
        init: function (url) {
            var base = this;
            base.URL = url;
            $.getScript(base.URL.dateTimePickerPath);
        },
        addOrEdit: function(scheduleId){
            var base = this;
            $.ajax({
                type:'POST',
                url: base.URL.groupClassAction,
                data:{'action':1, 'scheduleId': scheduleId},
                success: function(data){
                    $('#pnlDialog').html(data);
                    $('#dialogGroupClass').modal('show');
                    $('.numberOnly').keypress(validateNumber);
                    $('.numberOnly').on('paste',numberVaild);
                    base.getTeacherSlot();
                    $('#schedule_date').datetimepicker({
                        format:'Y-m-d',
                        timepicker:false
                    });
                }
            });
        },
        update: function(){
            var base = this;
            if(this.validate()){
                $.ajax({
                    type:'POST',
                    url:base.URL.groupClassAction,
                    data:$('#frmGroupClass').serializeArray(),
                    success: function(data){
                        $('#pnlListGroupClass').html(data);
                        $('#dialogGroupClass').modal('hide');
                    }
                });
            }
        },
        delete: function(scheduleId,iscancel=""){
            var confirmDelete = confirm('Are you sure ?');
            if(!confirmDelete){
                return false;
            }
            var base = this;
            var teacherId = $('#filterTeacherId').val();
            $.ajax({
                type:'POST',
                url:base.URL.groupClassAction,
                data:{action: 3, scheduleId: scheduleId, teacherId:teacherId,cancel:iscancel},
                success: function(data){
                    $('#pnlListGroupClass').html(data);
                }
            });
        },
        validate: function(){
            var res = true;
            $('.schedule_date-control .text-danger').val('');
            $('.schedule_capacity-control .text-danger').val('');
            if($('#teacher_id').val() === ''){
                $('.teacher_id-control .text-danger').html('This field is required');
                res = false;
            }
            if($('#schedule_date').val() === ''){
                $('.schedule_date-control .text-danger').html('This field is required');
                res = false;
            }
            if($('#schedule_capacity').val() === ''){
                $('.schedule_capacity-control .text-danger').html('This field is required');
                res = false;
            }
            if($('#lession_name').val() === ''){
                $('.lession_name-control .text-danger').html('This field is required');
                res = false;
            }
            if($('#schedule_time_slot').val() === ''){
                $('.schedule_time_slot-control .text-danger').html('This field is required');
                res = false;
            }
            
            if ($('#schedule_time_slot :selected').length <= 0)
            {
                $('.schedule_time_slot-control .text-danger').html('This field is required');
                return false;
            }
             return res;
        },
        filter: function(target){
            teacherId = $(target).val();
            var base = this;
            $.ajax({
                type:'POST',
                url:base.URL.groupClassAction,
                data:{teacherId:teacherId, action:4},
                success: function(data){
                    $('#pnlListGroupClass').html(data);
                }
            });
        },
        getTeacherSlot:function(){
            var base = this;
            var teacherId = $('#teacher_id').val();
            var schedule_date = $('#schedule_date').val();
            var group_id = $('#group_id').val();
                $.ajax({
                    type:'POST',
                    url:base.URL.groupClassAction,
                    data:{'action':5, 'teacherId': teacherId,'scheduleDate':schedule_date,'group_id':group_id},
                    success: function(data){
                        val = JSON.parse(data);
                        if(val.status == "success"){
                            if(val.value == ""){
                                 $(".timeSlotError").html("Start time not available for this date");
                             }else{
                                 $(".timeSlotError").html("");
                             }
                            var $select = $('#schedule_time_slot'); 
                            $select.find('option').remove();  
                            $.each(val.value,function(key, value) 
                            {
                                var selected = "";
                                $.each(val.bookedTimeslot,function(key, timeSlot) 
                                {
                                    if(value == timeSlot){
                                    selected = "selected='selected'";
                                    }
                                });   
                                $select.append('<option value=' + value + ' '+selected+'>' + value + '</option>');
                            });
                        }else{
                           
                            
                            return false;
                        }
                    }
                });
        },
        selectSlot:function(){
            cnt = 0;
            last = "";
            $.each($("#schedule_time_slot option:selected"), function(){ 
                cnt++;
                if(last !=""){
                    curr = $(this).val();
                    curr = curr.split(":");
                    last = last.split(":");
                    curr = new Date("2018", "03", "27", curr[0], curr[1], 0, 0)
                    last = new Date("2018", "03", "27", last[0], last[1], 0, 0)
                    var diff =(curr.getTime() - last.getTime()) / 1000;
                    diff /= 60;

                    if(Math.abs(Math.round(diff)) > 30){
                      cnt = 10;  
                    }
                }
                last = $(this).val();
            });
            if(cnt >2){
                $("#schedule_time_slot").val(last);
            }
        }
    };
    var URL = {
        groupClassAction: '{{ route_url('Schola::group-classes-action') }}',
        dateTimePickerPath : '{{ Schola.helper( 'assetUrl' , '/public/plugins/datetimepicker/jquery.datetimepicker.full.min.js' ) }}'
    };
    function diff_minutes(dt2, dt1) 
     {

      var diff =(dt2.getTime() - dt1.getTime()) / 1000;
      diff /= 60;
      return Math.abs(Math.round(diff));
      
     }
    function validateNumber(event) {
        var key = window.event ? event.keyCode : event.which;    
        if ( key < 48 || key > 57 ) {
            return false;
        }
        else return true;
    };

    function numberVaild(e){
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        return $.isNumeric(text);
    }

    $(document).ready(function () {
        groupClasses.init(URL);
    });
</script>
<div class="wrap">
    <div id="pnlListGroupClass">
        {%include '@Schola/admin/groupClass/listGroupClass.twig'%}
    </div>
    <div id="ajax-response"></div>
    <br class="clear">
</div>
<div id="pnlDialog">
</div>