<div class="footer">
    <div class="content-width">
        <div class="clearfix">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="title"><span class="fa fa-address-book-o"></span> About Us</h1>
                <ul>
                    <li><a href="#">What is Schola?</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="title"><span class="fa fa-question-circle"></span> FAQs</h1>
                <ul>
                    <li><a href="#">Help & Support</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="title"><span class="fa fa-inbox"></span> Explore</h1>
                <ul>
                    <li><a href="#">All Courses</a></li>
                    <li><a href="#">Teach a Course</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Education Partners</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="title"><span class="fa fa-group"></span> Stay in Touch</h1>
                <div class="icon-social">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; Copyright 2017 Schola tv Ltd.
    </div>
</div>