<div class="footer">
    <div class="content-width">
        <div class="clearfix">
            <div class="social-icons">
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-youtube-play"></span></a>
                <a href="#"><span class="fa fa-google-plus"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-envelope"></span></a>
            </div>
            <div class="nav-footer mt35">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; Copyright 2017 Schola tv Ltd.
    </div>
</div>