{% extends "@Schola/public/layout/master.twig" %}

{% block title %}Study{% endblock %}
{% block content %}
    <div>
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
{% endblock %}