.classroom-content {
  height: 100vh;
  width: 100%;
  min-height: 580px;
  position: relative;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/tileable_wood_texture.png");
  @media (min-width: 650px) and (max-width: 768px) {
    min-height: 960px;
  }
  .header {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background: $primary_color;
    .content-header {
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
      padding: 0 15px;
      &:before, &:after {
        content: "";
        display: table;
        width: 100%;
      }
      .logo {
        float: left;
        padding-top: 2px;
        img {
          height: 55px;
        }
      }
      .lesson-name {
        float: left;
        font-size: 14px;
        height: 60px;
        display: flex;
        align-items: center;
        max-width: 400px;
        margin-left: 15px;
        color: #fff;
        @media (min-width: 650px) and (max-width: 768px) {
          max-width: 260px;
        }
      }
      .btn-action {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-size: 26px;
        top: 50%;
        margin-top: -20px;
        position: absolute;
        cursor: pointer;
        &.btn-finish {
          color: #00a705;
          right: 10px;
        }
        &.btn-refresh {
          color: #00a705;
          right: 60px;
        }
        &:hover {
          color: $primary_color;
        }
      }

      .btn-refresh {
        color: #fff;
        padding: 19px 15px;
        display: inline-block;
      }
    }
  }
  #viewerContainer {
    top: 0;
  }
  .wrap-content {
    position: relative;
    height: 100%;
    max-width: 1920px;
    max-height: 1030px;
    margin: 0 auto;
    overflow: hidden;
    .panel-whiteboard {
      position: absolute;
      left: 5%;
      width: 68%;
      height: 100%;
      @include transition(all, 0.5s, ease);
    }
    .panel-video {
      position: absolute;
      width: 22%;
      height: 100%;
      left: 73%;
      padding-top: 40px;
      padding-bottom: 40px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      @include transition(all, 0.3s, ease);
    }
    .panel-chat {
      position: absolute;
      width: 21%;
      height: 100%;
      right: -22%;
      @include transition(all, 0.2s, ease);
    }
    .btn-show-chat {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background: #f68720;
      font-size: 26px;
      border-radius: 50%;
      opacity: 1;
      cursor: pointer;
      @include transition(all, 0.3s, ease);
      @include transform(scale(1));
    }
    &.show-chat {
      .panel-chat {
        right: 0;
        z-index: 999;
      }
      .btn-show-chat {
        opacity: 0;
        @include transform(scale(0.0));
      }
      @media (max-width: 1099px) {
        .panel-chat {
          width: 260px;
        }
      }
      @media (min-width: 1100px) {
        .panel-whiteboard {
          left: 0;
          width: 57%;
        }
        .panel-video {
          left: 57%;
        }
      }
    }
    @media (min-width: 650px) and (max-width: 768px) {
      min-height: 900px;
      .panel-video {
        top: 8%;
        left: 0;
        width: 100%;
        padding: 0;
        height: 28%;
        .wrap-video {
          left: 15px;
          right: 15px;
          height: 100% !important;
          .video-item {
            height: 100%;
            width: 49%;
            float: left;
            &.video-teacher {
              float: right;
              margin: 0;
            }
          }
        }
      }
      .panel-whiteboard {
        left: 0;
        width: 100%;
        height: 50%;
        top: 38%;
        .whiteboard-content {
          left: 15px;
          right: 15px;
        }
      }
    }
  }
  .whiteboard-content {
    position: absolute;
    bottom: 40px;
    top: 40px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 14px #383838;
    background: #fff;
    overflow: hidden;
    margin: auto;
    @include transition(all, 0.2s, ease);
    .pdfViewer .page {
      width: 700px;
      height: 906px;
      border-image: none;
      @media (min-width: 1200px) and (max-width: 1300px) {
        width: 630px;
        height: 815px;
      }
      @media (min-width: 1499px) and (max-width: 1699px) {
        width: 790px;
        height: 1022px;
      }
      @media (min-width: 1700px) and (max-width: 1799px) {
        width: 890px;
        height: 1152px;
      }
      @media (min-width: 1800px) and (max-width: 1899px) {
        width: 940px;
        height: 1216px;
      }
      @media (min-width: 1900px) and (max-width: 1999px) {
        width: 960px;
        height: 1242px;
      }
      @media (min-width: 2000px) {
        width: 990px;
        height: 1281px;
      }
    }
    .wrap-control {
      position: absolute;
      bottom: 5px;
      left: 5px;
      z-index: 999;
      opacity: 0.5;
      .control {
        display: inline-block;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        background: #4242426b;
        border-radius: 3px;
        cursor: pointer;
        @include transition(all, 0.2s, ease);
        &:hover {
          background: #f68720;
        }
      }
      &:hover {
        opacity: 1;
      }
    }

    .page-info {
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: 999;
      background: #424242ed;
      border-radius: 3px;
      padding: 0 9px;
      color: #fff;
      font-size: 12px;
    }
    ot-whiteboard div.OT_panel {
      border-radius: 5px;
      box-shadow: 0 0 8px #000000cf;
      background-color: #ffb570;
      input {
        cursor: pointer;
      }
      input.OT_undo, input.OT_redo, input.OT_clear {
        &:hover {
          background: #4c4c4c;
        }
      }
      .OT_button {
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        margin-top: 3px;
        font-size: 20px;
        cursor: pointer;
        @include transition(all, 0.2s, ease);
        &:hover {
          background: $primary_color;
        }
        &.OT_selected {
          background: $primary_color;
        }
      }
    }
    canvas {
      cursor: url("../images/pen-icon.png") 3 30, auto;
      &.eraser_selected {
        cursor: url("../images/eraser-icon.png") 3 30, auto;
      }
    }
  }
  .wrap-video {
    height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include transition(all, 0.2s, ease);
    .video-item {
      height: 48%;
      background: #fff;
      box-shadow: 3px 3px 14px #383838;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      video {
        width: 100%;
        background: #111;
        height: 100%;
      }
      &.video-teacher {
        margin-top: 6%;
      }
      &.video-student {

      }
      .name {
        position: absolute;
        color: #fff;
        z-index: 9;
        padding: 5px;
        top: -32px;
        left: 0;
        @include transition(all, 0.5s, ease);
      }
      .control-video {
        position: absolute;
        right: 0;
        bottom: -34px;
        z-index: 999;
        @include transition(all, 0.5s, ease);
        .control-item {
          float: left;
          cursor: pointer;
          i {
            width: 36px;
            height: 34px;
            background: #1f1f1f;
            color: #f68720;
            line-height: 34px;
            text-align: center;
            display: block;
            &:hover {
              background: #333;
            }
          }
          .off {
            display: none;
            color: #f00;
          }
          .on {

          }
          &.enable {
            .off {
              display: none;
            }
            .on {
              display: block;
            }
          }
          &.disable {
            .off {
              display: block;
            }
            .on {
              display: none;
            }
          }
        }
      }
      &:hover {
        .name {
          top: 0;
        }
        .control-video {
          bottom: 0;
        }
      }
    }
  }

  .panel-message {
    position: absolute;
    right: 0;
    top: 0;
    left: 15px;
    bottom: 0;
    background: #fff;
    padding-bottom: 80px;
    box-shadow: 0 8px 10px #333;
    @include transition(right, 0.2s, ease);
    .message-footer {
      position: absolute;
      bottom: 0;
      height: 80px;
      left: 0;
      right: 0;
      background: #ddd;
      .wrapper-input {
        padding: 10px;
        position: relative;
        .input-message {
          border: none;
          background: #fff;
          width: 100%;
          padding: 6px 45px 6px 6px;
          border-radius: 2px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          line-height: 22px;
        }
        .btn-send {
          position: absolute;
          padding: 7px 5px 6px 5px;
          border: 0;
          top: 10px;
          right: 10px;
          background: transparent;
          color: $primary_color;
          cursor: pointer;
        }
        .emoji-picker-icon {
          right: 35px;
          top: 10px;
          font-size: 18px;
          color: #f68720;
          padding: 9px 3px;
        }
        .emoji-menu {
          right: 0;
          bottom: 55px;
          left: 0;
          width: auto;
          border-bottom: 0;
          box-shadow: none;
          border-radius: 0;
          .emoji-items-wrap {
            overflow: auto;
          }
        }
      }
      .group-btn-emoji {
        padding: 0 10px;
        a {
          color: $primary_color;
        }
      }
      .btn-hide-chat {
        position: absolute;
        right: 0;
        bottom: 6px;
        padding: 5px 10px;
        color: #f68720;
        background: #ffffff;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
      }
    }
    .message-content {
      width: 100%;
      height: 100%;
      overflow: auto;
      .chat-log {
        margin: 0;
        padding: 0;
        list-style: none;
        .chat-item {
          position: relative;
          padding: 3px 3px 3px 42px;
          .chat-item-avatar {
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            left: 5px;
            top: 3px;
            background: #ccc;
            overflow: hidden;
          }
          .chat-item-content {
            margin: 0;
            padding: 5px 8px;
            background: $primary_color;
            color: #fff;
            border-radius: 0 15px 15px 15px;
            display: inline-block;
            font-size: 14px;
            @media (max-width: 768px) {
              font-size: 12px;
            }
          }
          .chat-item-time {
            position: absolute;
            background: rgba(0, 0, 0, 0.78);
            padding: 3px 6px;
            border-radius: 3px;
            z-index: -1;
            visibility: hidden;
            display: block;
            color: #fff;
            bottom: -19px;
            right: 3px;
            font-size: 11px;
            @include transition(all, 0.2s, ease);
            -webkit-transform: scale(0.0);
            -ms-transform: scale(0.0);
            -moz-transform: scale(0.0);
            transform: scale(0.0);
            &:before {
              @include triangle-corner(transparent transparent rgba(0, 0, 0, 0.78) transparent, 6px);
              position: absolute;
              top: -12px;
            }
          }
          &:hover {
            .chat-item-time {
              opacity: 1;
              z-index: 9999;
              visibility: visible;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              -moz-transform: scale(1);
              transform: scale(1);
            }
          }
          &.mine {
            padding: 3px 36px 3px 3px;
            text-align: right;
            .chat-item-avatar {
              left: inherit;
              right: 5px;
            }
            .chat-item-content {
              border-radius: 15px 0 15px 15px;
              background: #e5e5e5;
              color: $second_color;
            }
            .chat-item-time {
              left: 3px;
              right: initial;
              &:before {
                right: 6px;
              }
            }
          }
        }
      }
    }
  }
}

.wrap-whiteboard {
  #viewerContainer {
    top: 0;
    background: #fff;
  }
  .whiteboard-content-2 {
    background: #fff;
    .pdfViewer .page {
      /*width: 700px;
      height: 906px;*/
      width: 100%;
      height: 100%;
      border-image: none;
      border: none;
    }
    .wrap-control {
      position: absolute;
      bottom: 5px;
      left: 5px;
      z-index: 999;
      opacity: 0.5;
      .control {
        display: inline-block;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        background: #4242426b;
        border-radius: 3px;
        cursor: pointer;
        @include transition(all, 0.2s, ease);
        &:hover {
          background: #f68720;
        }
      }
      &:hover {
        opacity: 1;
      }
    }

    .page-info {
      position: absolute;
      bottom: 5px;
      right: 15px;
      z-index: 999;
      background: #424242ed;
      border-radius: 3px;
      padding: 0 9px;
      color: #fff;
      font-size: 12px;
      opacity: 0.5;
      @include transition(all, 0.2s, ease);
      &:hover {
        opacity: 1;
      }
    }
    ot-whiteboard {
      overflow: hidden;
      .panel-tool {
        position: absolute;
        top: 10px;
        right: 0;
        .open-tool {
          text-align: center;
          padding: 6px;
          font-size: 18px;
          background: #ccc;
          border-radius: 5px 0 0 5px;
          width: 24px;
        }
        div.OT_panel {
          background-color: #ffb570;
          position: absolute;
          top: 0;
          right: -50px;
          @include transition(all, 0.2s, ease);
          input {
            cursor: pointer;
          }
          input.OT_undo, input.OT_redo, input.OT_clear {
            &:hover {
              background: #4c4c4c;
            }
          }
          .OT_button {
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #fff;
            border-radius: 50%;
            margin-top: 3px;
            font-size: 20px;
            cursor: pointer;
            @include transition(all, 0.4s, ease);
            &:hover {
              background: $primary_color;
            }
            &.OT_selected {
              background: $primary_color;
            }
          }
        }
        &:hover {
          .open-tool {
            visibility: hidden;
          }
          div.OT_panel {
            right: 0;
            box-shadow: 0 0 8px #000000cf;
          }
        }
      }
    }

    canvas {
      cursor: url("../images/pen-icon.png") 3 30, auto;
      &.eraser_selected {
        cursor: url("../images/eraser-icon.png") 3 30, auto;
      }
    }
  }
}

.mobile-message {
  display: none;
  @media (max-width: 649px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    text-align: center;
    display: block;
    .icon-sad {
      width: 100px;
      height: 100px;
      margin: 0 auto 20px;
      background: url("../images/sad.png") no-repeat center center;
      background-size: cover;
    }
    .content {
      position: absolute;
      display: block;
      padding: 15px;
      top: 30%;
    }
  }
}

@media (max-width: 649px) {
  .classroom-content {
    display: none;
  }
}

