.footer {
  background: #404040;
  background-size: 380px;
  color: #fff;
  padding: 50px 0 90px;
  position: relative;

  .title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;

    .fa {
      color: $primary_color;
    }
  }

  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 4px 0;
      color: #bbb;
      text-decoration: none;
      font-weight: 300;

      &:hover {
        color: $primary_color;
      }
    }
  }

  .icon-social {
    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      background: $primary_color;
      color: $second_color;
      font-size: 18px;
      margin-right: 5px;
      border-bottom: 3px solid $primary_color;

      &:hover {
        border-color: #fff;
      }
    }
  }

  .social-icons {
    text-align: center;
    a {
      display: inline-block;
      width: 54px;
      height: 54px;
      line-height: 54px;
      text-align: center;
      background: #ffe2b5;
      color: #404040;
      font-size: 24px;
      margin: 0 14px;
      border-radius: 50%;
      @include transition(all, 0.2s, ease);

      &:hover {
        background: #fff;
      }
    }
  }

  .nav-footer {
    text-align: center;
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      margin-bottom: 15px;
      a {
        display: block;
        padding: 0 20px;
        border-right: 1px solid #545454;
      }
      &:last-child {
        a {
          border: none;
        }
      }
    }
  }
  @include width-x-small {
    .content-width {
      margin: 0 auto;
    }
  }

  .copyright {
    padding: 10px 0;
    text-align: center;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(35, 35, 35);
  }
}
