/*--V1--*/
.how-it-work {
  padding: 30px 0;
  background: #f1f1f1;

  .wrap-width {
    max-width: 820px;
    margin: 0 auto;
  }

  .img {
    img {
      border-radius: 50%;
      max-width: 200px;
      display: block;
      margin: 0 auto;
    }
  }

  .title {
    font-weight: bold;
  }

  p {
    line-height: 1.5;
  }

  a {
    font-size: 20px;
    font-weight: bold;
    color: #f2994a;
    text-decoration: none;
  }
}
