@charset "UTF-8";
.student-dashboard {
  .study-board {
    max-width: 860px;
    margin-left: 40px;
    @media (max-width: 990px) {
      margin-left: 0;
    }

    .title {
      margin: 0 0 15px;
      font-weight: bold;
      font-size: 20px;
    }

    .learning-progress {
      border: 2px solid #d2d2d2;
      border-radius: 4px;
      background: #f1f1f1;
      overflow: hidden;

      > div {
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 2px solid #d2d2d2;
        text-align: center;
      }

      > div:last-child {
        border-right: 0;
      }

      .progress-label {
        margin: 0 0 10px;
        color: $primary_color;
        font-weight: bold;
      }

      .level {
        display: inline-block;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        border-radius: 15px;
        background: $primary_color;
        text-align: center;
        padding: 0 6px;
      }
    }

    .learning-progress-2 {
      .level-icon {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        text-align: center;
        line-height: 68px;
        border: 1px solid $primary_color;
        font-size: 20px;
        border-radius: 50%;
        position: relative;
        display: block;
        &:before {
          @include triangle-corner($primary_color transparent transparent transparent, 14px 12px);
          position: absolute;
          bottom: -28px;
          left: 50%;
          margin-left: -12px;
          display: none;
        }
      }
      .progress-label {
        text-align: center;
        background: #f5f5f5;
        padding: 5px;
        border-radius: 20px;
        font-size: 14px;
        max-width: 200px;
        margin: 20px auto 30px;
      }
      @include width-x-small {
        .progress-label {
          padding: 0;
          background: no-repeat;
          line-height: 1.5;
          .fa {
            display: none;
          }
        }
      }
    }

    .my-lesson {
      .filter-schedule {
        height: 40px;
        padding: 0 10px;
        border-radius: 3px;
        border: 2px solid #bbb;
        color: #171717;
        font-weight: 400;
        width: 200px;
        background: #fff;

        &:focus {
          border-color: $primary_color;
          outline: none;
        }
      }

      .schedule-item {
        margin-top: 20px;
        border-bottom: 1px solid #e6e6e6;
        border-radius: 3px;
        .wrap-avatar {
          @include width-x-small {
            position: absolute;
            left: 15px;
            top: 0;
          }
        }
        .avatar {
          position: relative;
          width: 90px;
          height: 90px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          background: #fff url(../images/avatar-blank.png) no-repeat;
          background-size: contain;
          cursor: pointer;
          @include width-x-small {
            width: 70px;
            height: 70px;
          }
        }

        .teacher-name {
          color: #337ab7;
          line-height: 1.5;
          text-align: center;
          margin: 5px 0;
        }

        .wrap-status {
          @include width-x-small {
            padding: 0 0 30px 90px;
            position: relative;
          }
        }

        .label-schedule {
          display: inline-block;
          padding: 2px 15px;
          background: #91c77a;
          border-radius: 20px;
          color: #fff;
          font-size: 14px;
          &.scheduled {
            background: #91c77a;
          }
          &.canceled {
            background: #ff9d9d;
          }
          &.finished {
            background: #91c77a;
          }
          @include width-x-small {
            position: absolute;
            bottom: 5px;
            margin: 0;
          }
        }

        .date-time {
          .time {
            font-size: 30px;
            font-weight: bold;
            color: $primary_color;
            margin-right: 15px;
            float: left;
          }
          .date {
            display: inline-block;
            line-height: 40px;
            padding-top: 5px;
          }
          @include width-x-small {
            .time {
              font-size: 25px;
              float: none;
              display: block;
            }
            .date {
              line-height: 20px;
              float: none;
            }
          }
        ;
        }

        .link-review {
          position: absolute;
          right: 15px;
          top: 0;
          a {
            display: inline-block;
            padding: 4px 8px;
            color: #444;
            text-decoration: none;
            border: 1px solid #444;
            border-radius: 18px;
            font-size: 14px;
            @include transition(all, 0.2s, ease);
            &:hover {
              color: $primary_color;
              border-color: $primary_color;
            }
          }
          @include width-x-small {
            position: static;
            margin-top: 10px;
            a {
              margin-bottom: 10px;
            }
          }
        ;
        }

        .hourly-rate {
          color: #ffc237;
          text-align: center;
          font-size: 18px;
        }

        .description {
          max-height: 118px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          font-weight: 400;
          line-height: 24px;
        }
        .button--saqui.button--no-border {
          @include width-x-small {
            color: $primary_color;
            &:hover {
              color: transparent;
            }
          }
        }
      }
    }
  }

  .no-class-panel {
    padding: 60px 0;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    max-width: 860px;
    margin: 0 auto;
    .icon {
      display: block;
      font-size: 140px;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      text-align: center;
      color: #999;
    }
    .text {
      color: #999;
      text-align: center;
    }
  }

  .curriculum-board {
    max-width: 900px;
    margin-left: 40px;
    @media (max-width: 990px) {
      margin-left: 0;
    }
    .unit-item {
      padding: 10px;
      border: 1px solid #f5f5f5;
      .unit-name {
        margin-top: 0;
        font-size: 18px;
        font-weight: bold;
      }
      .unix-number {
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 50%;
        background: #444;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
      }
      div[aria-expanded="true"] {
        .unix-number {
          background: $primary_color;
        }
      }
      .panel.panel-default {
        position: relative;
        a.button {
          position: absolute;
          right: 4px;
          top: 3px;
          padding: 8px 15px;
          margin: 0;
          &.button--border {
            top: 2px;
          }
          @include width-x-small {
            top: unset !important;
            bottom: 5px;
          }
        }
      }
      .panel-heading {
        background: #fff;
        border-bottom: 1px solid transparent;
        position: relative;
        .panel-title {
          padding-right: 160px;
          line-height: 1.3;
          @include width-x-small {
            padding: 0 0 40px 0;
          }
        }

        &:hover {
          .unix-number {
            background: $primary_color;
          }
        }
      }
      .panel-heading[aria-expanded="true"] {
        border-bottom: 1px solid #ddd;
      }
      .panel-body {
        border-top-color: #fff;
      }
    }
  }

  .class-detail-board {
    max-width: 900px;
    margin-left: 40px;
    @media (max-width: 990px) {
      margin-left: 0;
    }
    .lesson-name {
      font-weight: bold;
      margin: 0 0 15px 0;
    }
    .date-time-content {
      @include width-x-small {
        .button, .date-time {
          float: none !important;
        }
      }
    }
    .date-time {
      .time {
        font-size: 35px;
        font-weight: bold;
        color: $primary_color;
        margin-right: 15px;
        float: left;
      }
      .date {
        display: inline-block;
        line-height: 40px;
        padding-top: 10px;
      }
      @include width-x-small {
        .time {
          font-size: 25px;
        }
        .date {
          line-height: 20px;
        }
      }
    ;
    }
    .lesson-content {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 10px;
      .title {
        font-weight: bold;
        padding-bottom: 10px;
        color: $primary_color;
      }
      .material-group {
        margin-bottom: 20px;
        h4 {
          margin: 0 0 3px 0;
          font-weight: bold;
        }
        .material-detail {
          padding-left: 15px;
          span.fa {
            width: 10px;
            margin-right: 10px;
          }
        }
      }
    }

  }
  .rating {
    font-size: 25px;
    cursor: pointer;
    .fa {
      @include transition(all, 0.2s, ease);
    }
    &.rating-5 {
      .fa {
        color: #ffc237;
      }
    }
    &.rating-4 {
      i:nth-child(2), i:nth-child(3), i:nth-child(4), i:nth-child(5) {
        color: #ffc237;
      }
    }
    &.rating-3 {
      i:nth-child(3), i:nth-child(4), i:nth-child(5) {
        color: #ffc237;
      }
    }
    &.rating-2 {
      i:nth-child(4), i:nth-child(5) {
        color: #ffc237;
      }
    }
    &.rating-1 {
      i:nth-child(5) {
        color: #ffc237;
      }
    }
    &:hover .fa {
      color: #333 !important;
    }
    .rate-5 {
      &:hover {
        color: #ffc237 !important;
        + i, + i + i, + i + i + i, + i + i + i + i {
          color: #ffc237 !important;
        }
      }
    }
    .rate-4 {
      &:hover {
        color: #ffc237 !important;
        + i, + i + i, + i + i + i {
          color: #ffc237 !important;
        }
      }
    }
    .rate-3 {
      &:hover {
        color: #ffc237 !important;
        + i, + i + i {
          color: #ffc237 !important;
        }
      }
    }
    .rate-2 {
      &:hover {
        color: #ffc237 !important;
        + i {
          color: #ffc237 !important;
        }
      }
    }
    .rate-1 {
      &:hover {
        color: #ffc237 !important;
      }
    }
    &.disable {
      &.rating-5 {
        .fa {
          color: #ffc237 !important;
        }
      }
      &.rating-4 {
        i:nth-child(1) {
          color: #333 !important;
        }
        i:nth-child(2), i:nth-child(3), i:nth-child(4), i:nth-child(5) {
          color: #ffc237 !important;
        }
      }
      &.rating-3 {
        i:nth-child(1), i:nth-child(2) {
          color: #333 !important;
        }
        i:nth-child(3), i:nth-child(4), i:nth-child(5) {
          color: #ffc237 !important;
        }
      }
      &.rating-2 {
        i:nth-child(1), i:nth-child(2), i:nth-child(3) {
          color: #333 !important;
        }
        i:nth-child(4), i:nth-child(5) {
          color: #ffc237 !important;
        }
      }
      &.rating-1 {
        i:nth-child(1), i:nth-child(2), i:nth-child(3), i:nth-child(4) {
          color: #333 !important;
        }
        i:nth-child(5) {
          color: #ffc237 !important;
        }
      }
    }

  }
}

.purchase-park {
  label {
    display: block;
    margin-bottom: 25px !important;
    .package-detail {
      display: inline-block;
      background: #ffe392;
      padding: 5px 15px;
      border-radius: 20px;
      margin-top: 6px;
    }
    .package-price {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -15px;
      font-size: 22px;
      font-weight: bold;
    }
  }
}

.icon-img {
  width: 172px;
  height: 126px;
  margin: 0 auto;

  &.not-found {
    background: url("../images/icon/not-found.png") no-repeat;
    background-size: cover;
  }

  &.not-purchase {
    background: url("../images/icon/purchase.png") no-repeat;
    background-size: cover;
  }
}
