<style>
    .fb_dialog {
        bottom: 75px !important;
        right: 5pt !important;
    }

    iframe.fb_customer_chat_bounce_in {
        bottom: 135px !important;
        right: 13pt;
    }
</style>
<div class="fb-customerchat"
     page_id="142331009780049"
     minimized="true">
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '912333495590130',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>